<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <title>Edit Bill</title>
</head>
<body>
    <h1>Edit Bill</h1>
    <form method="post" action="">
        <label for="amount">Amount:</label>
        <input type="text" name="amount" value="{{ bill.amount }}" required><br><br>
        <label for="split_type">Split Type:</label>
        <input type="text" name="split_type" value="{{ bill.split_type }}" required><br><br>
        <label for="split_value">Split Value:</label>
        <input type="text" name="split_value" value="{{ bill.split_value }}" required><br><br>
        <label for="user_name">User Name:</label>
        <input type="text" name="user_name" value="{{ bill.user_name }}" required><br><br>
        <label for="group_name">Group Name:</label>
        <input type="text" name="group_name" value="{{ bill.group_name }}" required><br><br>
        <input type="submit" value="Update Bill">
    </form>
</body>
</html>