<!DOCTYPE html>
<html>
<head>
    <title>Bill Splitting App</title>
</head>
<body>
    {% if username %}
        <h1>Welcome, {{ username }}!</h1>
        <a href="/logout">Logout</a>
    {% else %}
        <h1>Please login to continue</h1>
        <form method="post" action="/login">
            <label for="username">Username:</label>
            <input type="text" name="username"><br>
            <label for="password">Password:</label>
            <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    {% endif %}
</body>
</html>
