<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet"type="text/css"href="{{url_for('static',filename='styles.css')}}">
    <title>New Bill</title>
</head>
<body>
    <h1>New Bill</h1>
    <form method="post" action="/bills/new">
        <label for="amount">Amount:</label>
        <input type="text" name="amount"><br>
        <label for="split_type">Split Type:</label>
        <select name="split_type">
            <option value="equal">Equal</option>
            <option value="unequal">Unequal</option>
        </select><br>
        <label for="split_value">Split Value:</label>
        <input type="text" name="split_value"><br>
        <label for="user_id">User ID:</label>
        <select name="user_id">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select><br>
        <label for="group_id">Group ID:</label>
        <select name="group_id">
            {% for group in groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Save">
    </form>
</body>
</html>