<!DOCTYPE html>
<html>
<head>
	<title>Bills Summary</title>
</head>
<body>
	{% if debts %}
		<h1>Bills Summary</h1>
        <h2>Debts people owe to you</h2>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Money</th>
				</tr>
			</thead>
			<tbody>
				{% for record in am %}
				<tr>
					<td>{{ record.Name }}</td>
					<td>{{ record.Money }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
        <h2>Total Debts</h2>
	<table>
		<thead>
			<tr>
				
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for user_id, amount in debts.items() %}
			<tr>
				
				<td>{{ amount }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No bills to display.</p>
{% endif %}
</body>
</html>