<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet"type="text/css"href="{{url_for('static',filename='styles.css')}}">
    <title>Summary</title>
</head>
<body>
    <h1>Summary</h1>
    <h2>Balance</h2>
    <ul>
        {% for user, balance in balances.items() %}
            <li>{{ user }} owes {{ balance }}</li>
        {% endfor %}
    </ul>
    <h2>Debt Simplification</h2>
    <form method="post" action="/simplify-debt">
        <input type="submit" value="Simplify Debt">
    </form>
    {% if simplified %}
        <h3>Simplified Debt</h3>
        <ul>
            {% for user, debt in simplified.items() %}
                <li>{{ user }} owes {{ debt }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
