<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet"type="text/css"href="{{url_for('static',filename='styles.css')}}">
    <title>Update Group</title>
</head>
<body>
    <h1>Update Group</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form method="post" action="/update-group/{{ group.id }}">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ group.name }}"><br>
        <label for="users">Users:</label>
        <select multiple name="users">
            {% for user in users %}
                <option value="{{ user.username }}" {% if user in group.users %}selected{% endif %}>{{ user.username }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Update Group">
    </form>
</body>
</html>
